<section class="page-image page-image-blog md-padding">
	<h1 class="text-white text-center">NEWS</h1>
</section>
<div class="scrolling">

			<marquee onmouseout="this.start();" onmouseover="this.stop();"> <i class="fas fa-newspaper fa-2x "></i>    Breaking news. Breaking News. Breaking News <i class="fas fa-newspaper fa-2x "></i> </marquee>

		</div>
<!--==========================
    Contact Section
============================-->
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
<section id="blog" class="md-padding">
	<div class="container-fluid">
		<div class="row">
			<main id="main" class="col-md-9">
				{{#if sessionFlash.message}}
				<div class="{{sessionFlash.type}}">
				{{sessionFlash.message}}
				</div>
				{{/if}}
				<div class="row">
					{{#each posts}}
					{{!-- <div class="col-md-12"></div>
						<div class="blog">
							<div class="blog-img">
								<a href="/posts/{{_id}}"><img src="{{post_image}}" class="img-fluid"></a>

							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li><i class="fas fa-users"></i><span class="writer">{{author.username}}</span></li>
									<li><i class="fas fa-clock"></i><span class="writer">{{generateDate date 'MMM DD
											YYYY'}}</span></li>
									<li><i class="fas fa-comments"></i><span class="writer">13</span></li>
								</ul>
								<h3>{{title}}</h3>
								<p>{{truncate content 150}}</p>
								<a href="/posts/{{_id}}">Read More</a>
							</div>
						</div>
					</div> --}}

					<div class="col-md-12">
						<div class="blog">
							<div class="container">
								<div class="row">
									<div class="col-sm">
										<a href="/posts/{{_id}}"><img src="{{post_image}}" class="img-fluid"></a>
									</div>
									<div class="col-sm">
										<a href="#">
											<h3>{{title}}</h3>
										</a>
										<ul class="blog-meta">
									<li><i class="fas fa-users"></i><span class="writer">{{author.username}}</span></li>
									<li><i class="fas fa-clock"></i><span class="writer">{{generateDate date 'MMM DD
											YYYY'}}</span></li>
									<li><i class="fas fa-comments"></i><span class="writer">13</span></li>
								</ul>
										<p>{{truncate content 150}}</p>
										<a href="/posts/{{_id}}">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>


					{{/each}}
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							
							
							{{#paginate current=current pages=pages}}
							{{/paginate}}
							
							
						</ul>
					</nav>
				</div>
			</main>


			<!-- /Search -->


			<!-- Sidebar -->
			{{> site-sidebar}}
			<!-- /Sidebar -->

			<!-- Posts sidebar -->




		</div>

	</div>
</section>
	</div>
	<div class="col-md-1"></div>
</div>


